<div [formGroup]="form" *ngIf="!isLoading">
  <div formArrayName="attributes">
    <div class="form-border" *ngFor="let arr of attributes.controls; let i = index">
      <div [formGroupName]="i" class="form-flex">
        <div>
          <input type="checkbox" [formControlName]="data[i].key"> {{data[i].label}}
        </div>
        <div>
          <input type="text" formControlName="value">
        </div>
        <div>
          <input type="checkbox" formControlName="mandatory"> Mandatory
        </div>
        <div>
          <input type="checkbox" formControlName="display_in_grid"> Display In Grid
        </div>
      </div>
    </div>
  </div>
  <button (click)="showResult = true">View Result</button>
  <div *ngIf="showResult">
    <pre>{{form.value | json}}</pre>
  </div>
</div>


<router-outlet></router-outlet>